/* Vars */
:root {
  --bg-color: #ffffff;
}

/* Main styles */
html {
  background: var(--bg-color);
}

* {
  box-sizing: border-box;
}

.loading-text {
  font-size: 1rem;
  color: var(--rdp-text-color);
  text-align: center;
  margin-top: 20px;
}
