.header-branding {
  color: var(--rdp-text-color);
}
.home-page-link {
  text-decoration: none;
  cursor: pointer;
}

:host  {
  position: sticky;
  top: 0;
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  overflow-y: auto;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.8em;
  font-weight: normal;
  margin-bottom: 0.6em;
}

.controls a {
  color: var(--rdp-text-color);
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 0.4em;
}
.controls a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  flex-direction: column;
}

nav a {
  color: var(--rdp-details-color);
  text-decoration: underline;
  font-size: 0.775rem;
}

nav a:hover {
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  :host  {
    flex: 0 0 200px;
    margin-left: 14px;
  }
}

@media screen and (max-width: 768px) {
  :host  {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    max-height: calc(100vh - 82vh);
    overflow-y: auto;
    align-items: center;
    background-color: var(--bg-color);
  }

  h1 {
    margin-bottom: 0.2em;
    text-align: center;
  }

  nav {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  :host  {
    padding-bottom: 50px;
  }
}
