body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  font-family: var(--rdp-font);
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
  margin-top: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.8em;
  font-weight: normal;
  margin-bottom: 0.6em;
}

.controls {
  margin-bottom: 0.4em;
}

.controls a {
  color: var(--rdp-details-color);
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 0.4em;
}
.controls a:hover {
  text-decoration: underline;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
}

.sidebar nav a {
  color: var(--rdp-details-color);
  text-decoration: underline;
  font-size: 0.775rem;
}

.sidebar nav a:hover {
  text-decoration: none;
}

reader-timeline {
  flex: 1;
  max-width: 600px;
  width: 100%;
  margin: 0 20px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    max-height: 100vh;
    overflow-y: auto;
    align-items: center;
    background-color: var(--bg-color);
    padding: 10px;
  }

  .sidebar h1 {
    margin-bottom: 0.2em;
    text-align: center;
  }

  .sidebar nav {
    text-align: center;
  }

  reader-timeline {
    width: 100%;
    max-width: 100%;
    margin-top: 130px;
  }
}
